services:
  api:
    build: ./api
    ports:
      - "8003:8000"
    volumes:
      - ./db:/data

  ui:
    image: nginx:alpine
    ports:
      - "8083:80"
    volumes:
      - ./ui:/usr/share/nginx/html:ro
