services:
  api:
    build: ./api
    ports:
      - "8001:8000"
    volumes:
      - ./db:/data

  ui:
    image: nginx:alpine
    ports:
      - "8081:80"
    volumes:
      - ./ui:/usr/share/nginx/html:ro
