services:
  api:
    build: ./api
    ports:
      - "8005:8000"
    volumes:
      - ./db:/data

  ui:
    image: nginx:alpine
    ports:
      - "8085:80"
    volumes:
      - ./ui:/usr/share/nginx/html:ro
